
label {
    font-weight: 500;
    font-size: 1rem;
  }
  
  input {
    border: 1px solid #cccccc;
    outline: none;
    padding: 10px 12px;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  input:hover {
    border: 1px solid #adadad;
  }
  
  input:focus {
    border: 1px solid #239ce2;
  }

  .btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid ;
    color: #ffffff; /* text color */
    background-color: #ffc107; /* background color */
    border-radius: 5px;
    padding: 10px;
  }
  